<div class="container">
  <div class="footer__content">
    <div class="footer__main-menu">
      {% if section.blocks.size > 0 %}
        {% for menu in section.blocks %}
          <div class="footer__single-menu">
            <h4 class="footer__headline">
              {{ menu.settings.menu_headline }}
            </h4>

            <ul class="list-unstyled">
              {% for link in menu.settings.menu.links %}
                <li class="menu__item">
                  <a href="{{ link.url }}" target="{% if menu.settings.new_tab %}_blank{% endif %}">
                    {{ link.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endfor %}
      {% endif %}
    </div>

    <div class="footer__form">
      <h4 class="footer__headline">
        Newsletter
      </h4>

      <div class="text">
        <p>
          Join our newsletter for real talk, helpful habits, and absolutely no spam.
        </p>
      </div>

    </div>

    <div class="footer__legal">
      {% if section.blocks.size > 0 %}
        <div class="footer__single-menu">
          <h4 class="footer__headline">
            {{ section.settings.menu_headline }}
          </h4>

          <ul class="list-unstyled">
            {% for link in section.settings.legal_menu.links %}
              <li class="menu__item">
                <a href="{{ link.url }}" target="{% if menu.settings.new_tab %}_blank{% endif %}">
                  {{ link.title }}
                </a>
              </li>
            {% endfor %}
          </ul>

          <div class="text text--sm">
            {{ section.settings.copyright }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  <div class="footer__logo">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 327 32" width="327" height="32" fill="none"><path d="m37.14 31.31 16.247-13.188-3.258-3.258-10.223 8.296c-.443.346-.939-.05-.641-.543l4.395-6.765c2.47-3.804 1.481-7.655-1.037-9.78-2.618-2.221-6.964-2.518-10.719 1.236L17.73 21.434c-1.53 1.48-3.309 1.332-4.297.347-.74-.79-.988-2.125-.1-3.606L21.09 4.836 16.248.046 0 13.235l3.259 3.26 10.223-8.297c.442-.347.938.05.64.542l-4.345 6.766c-2.271 3.507-1.58 7.112.542 9.234 2.568 2.668 7.211 3.26 11.21-.74L35.656 9.923c1.381-1.382 3.014-1.382 4.048-.592.939.74 1.286 2.22.347 3.854L32.297 26.52l4.84 4.789h.002ZM93.987 16.79v14.57h5.236V15.16c0-5.926-4.938-9.089-9.88-9.089-3.803 0-7.31 1.63-8.99 5.728-.197.542-.839.397-.839-.149V6.664h-3.903V31.36h5.235V19.752c0-6.323 3.705-9.04 7.162-9.04 3.061 0 5.976 2.076 5.976 6.075l.004.004ZM123.964 16.741h-13.928c.889-4.296 4.297-6.471 7.655-6.471 3.11 0 6.124 1.877 6.914 5.728.099.442-.198.74-.641.74v.003Zm-13.336 3.95h19.262c.05-.641.099-1.236.099-1.878 0-7.456-4.789-12.74-12.447-12.74-8.444 0-12.989 6.566-12.989 13.087s4.446 12.791 12.89 12.791c4.743 0 9.78-2.37 11.558-6.964l-3.705-1.236c-.397-.149-.691 0-.889.397-1.236 2.37-3.804 3.507-6.518 3.507-3.358 0-6.914-1.828-7.853-6.224-.099-.443.149-.74.592-.74ZM144.608 21.235c.199-.492.691-.492.889 0 .592 1.58 1.432 2.568 2.668 4.197l4.495 5.926h6.372l-10.223-12.642 9.482-12.05h-6.074l-4.049 5.087c-1.286 1.629-2.076 2.617-2.667 4.197-.199.542-.691.542-.889 0-.592-1.58-1.332-2.568-2.668-4.197l-4.048-5.087h-6.075l9.482 12.05-10.222 12.642h6.372l4.495-5.926c1.285-1.629 2.075-2.617 2.667-4.197h-.007ZM174.093 31.26h6.372v-4.938h-7.704V11.654c0-.443.248-.691.691-.691h7.013V6.666h-9.185c-.542 0-.691-.542-.149-.79 2.321-1.087 3.061-3.06 3.061-5.876h-5.037c0 3.556-.641 6.666-3.95 6.666h-2.026l-2.667 3.457c-.397.543-.149.84.397.84h6.616v12.94c0 4.742 1.828 7.36 6.568 7.36v-.003ZM189.356 23.755l-4.099.938c1.187 4.888 6.766 7.212 12.199 7.212 5.778 0 11.36-2.618 11.36-7.704 0-9.631-17.335-5.678-17.335-10.67 0-1.926 2.717-3.159 5.632-3.159 2.667 0 5.433 1.038 6.273 3.457.149.443.492.641.889.493l3.903-1.187c-1.332-4.987-6.223-7.063-11.31-7.063-5.086 0-10.619 2.519-10.619 7.556 0 9.482 17.335 5.777 17.335 10.864 0 1.976-2.915 3.11-6.075 3.11-2.964 0-6.174-1.038-7.261-3.408-.198-.396-.492-.542-.889-.443l-.003.004ZM232.669 16.741h-13.928c.889-4.296 4.297-6.471 7.655-6.471 3.11 0 6.124 1.877 6.914 5.728.099.442-.198.74-.641.74v.003Zm-13.336 3.95h19.262c.05-.641.099-1.236.099-1.878 0-7.456-4.789-12.74-12.447-12.74-8.444 0-12.989 6.566-12.989 13.087s4.445 12.791 12.89 12.791c4.743 0 9.78-2.37 11.558-6.964l-3.705-1.236c-.397-.149-.691 0-.889.397-1.236 2.37-3.804 3.507-6.518 3.507-3.358 0-6.914-1.828-7.853-6.224-.099-.443.149-.74.592-.74ZM262.448 16.79v14.57h5.236V15.16c0-5.926-4.938-9.089-9.879-9.089-3.805 0-7.311 1.63-8.99 5.728-.199.542-.84.397-.84-.149V6.664h-3.9V31.36h5.235V19.752c0-6.323 3.706-9.04 7.163-9.04 3.06 0 5.975 2.076 5.975 6.075v.004ZM277.662 23.755l-4.099.938c1.187 4.888 6.766 7.212 12.199 7.212 5.778 0 11.36-2.618 11.36-7.704 0-9.631-17.335-5.678-17.335-10.67 0-1.926 2.717-3.159 5.632-3.159 2.667 0 5.433 1.038 6.273 3.457.148.443.492.641.889.493l3.9-1.187c-1.332-4.987-6.224-7.063-11.31-7.063-5.087 0-10.62 2.519-10.62 7.556 0 9.482 17.336 5.777 17.336 10.864 0 1.976-2.915 3.11-6.075 3.11-2.965 0-6.174-1.038-7.261-3.408-.199-.396-.493-.542-.889-.443v.004ZM320.975 16.741h-13.928c.889-4.296 4.297-6.471 7.655-6.471 3.11 0 6.124 1.877 6.914 5.728.099.442-.198.74-.641.74v.003Zm-13.336 3.95h19.262c.049-.641.099-1.236.099-1.878 0-7.456-4.789-12.74-12.447-12.74-8.445 0-12.989 6.566-12.989 13.087s4.445 12.791 12.89 12.791c4.743 0 9.78-2.37 11.558-6.964l-3.705-1.236c-.397-.149-.691 0-.889.397-1.236 2.37-3.804 3.507-6.518 3.507-3.358 0-6.914-1.828-7.853-6.224-.099-.443.149-.74.592-.74Z"/></svg>
  </div>
</div>

{% schema %}
{
  "name": "NS Footer",
  "tag": "footer",
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "text",
          "id": "menu_headline",
          "label": "Menu headline"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "checkbox",
          "id": "new_tab",
          "label": "Open links in new tab"
        },
      ]
    },
  ],
  "settings": [
    {
      "type": "text",
      "id": "menu_headline",
      "label": "Legal Menu headline"
    },
    {
      "type": "link_list",
      "id": "legal_menu",
      "label": "Legal Menu",
      "default": "main-menu"
    },
    {
      "type": "text",
      "id": "copyright",
      "label": "Copyright"
    },
  ],
  "presets": [
    {
      "name": "NS Footer",
      "category": "NextSense",
    }
  ]
}
{% endschema %}
