<div class="wrap-logos-marquee" style="--speed: {{ section.settings.speed }}">
  <div class="grid-line"></div>

  <div class="logos-marquee__headline">
    <div class="container container--wide">
      <h3 class="eyebrow">
        {{ section.settings.eyebrow }}
      </h3>

      {% if section.blocks.size > 0 %}
      <div class="logos-marquee">
        <div class="track">
          {% for block in section.blocks %}
            <div class="single-logo">
              <img src="{{ block.settings.logo | image_url: width: 250, format: 'webp' }}" alt="{{ block.settings.logo.alt | escape }}">
            </div>
          {% endfor %}

          {% comment %} Repeat logos to create infinite loop {% endcomment %}
          {% if section.blocks.size < 9 %}
            {% for block in section.blocks %}
              <div class="single-logo">
                <img src="{{ block.settings.logo | image_url: width: 250, format: 'webp' }}" alt="{{ block.settings.logo.alt | escape }}">
              </div>
            {% endfor %}
          {% endif %}
          {% if section.blocks.size < 5 %}
            {% for block in section.blocks %}
              <div class="single-logo">
                <img src="{{ block.settings.logo | image_url: width: 250, format: 'webp' }}" alt="{{ block.settings.logo.alt | escape }}">
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "NS Logos Marquee",
  "tag": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "text",
      "id": "eyebrow",
      "label": "Eyebrow"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 5,
      "max": 30,
      "step": 1,
      "label": "Duration",
      "default": 15
    },
  ],
  "blocks": [
    {
      "type": "single-logo",
      "name": "Logo",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "NS Logos Marquee",
      "category": "NextSense",
    }
  ]
}
{% endschema %}
